# Export only the plugin directory in GitHub-generated source zips

# 1) Exclude everything by default
* export-ignore

# 2) Include the plugin folder back (unset the attribute)
bizzio-sync-for-woocommerce -export-ignore
bizzio-sync-for-woocommerce/** -export-ignore


bizzio-sync-for-woocommerce/.githubexport-ignore
bizzio-sync-for-woocommerce/.gitignore         export-ignore
bizzio-sync-for-woocommerce/tests  export-ignore

bizzio-sync-for-woocommerce/node_modules       export-ignore
bizzio-sync-for-woocommerce/composer.*         export-ignore
bizzio-sync-for-woocommerce/package*.json      export-ignore
bizzio-sync-for-woocommerce/phpstan*.neon*     export-ignore
bizzio-sync-for-woocommerce/.phpcs.xml*        export-ignore
bizzio-sync-for-woocommerce/.editorconfig      export-ignore

bizzio-sync-for-woocommerce/.vscode            export-ignore

